<div class="jumbotron">
    <h1>API ponto de venda</h1>
    <p class="lead">API para o aplicativo de ponto de venda</p>
    <p><a href="https://github.com/lucas-rtk/api-ponto-venda/wiki" class="btn btn-primary btn-lg">Saiba mais</a></p>
</div>